<div class="grid border-bottom">
  <div class="col-1-1">
    <h1> {{title}} </h1>
  </div>
  <div class="col-1-1">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum ultricies suscipit. Aenean ac nisi neque. Mauris imperdiet
      ultricies augue, non lacinia ex luctus non. Suspendisse potenti. Maecenas feugiat dictum blandit. Ut dolor augue, imperdiet faucibus
      molestie ut, dictum et quam. Ut tristique sollicitudin elit, vitae mollis quam pretium at. Fusce vestibulum rhoncus facilisis.
      Phasellus
      pretium justo sed est vestibulum euismod. Nullam placerat nec nibh nec consectetur. Curabitur pharetra leo dui, eu tristique mi
      tincidunt et. Proin at quam elit. Sed sed orci ut ante scelerisque varius ut interdum risus.
    </p>
  </div>
</div>
